#Práctica #15: Datos Temporales

Antonio Calzadilla Miranda

###Ejercicio 01:Tipo de Datos Correcto

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [32]:
  #Importamos la librería de pandas y asignamos un alias (pd)
  import pandas as pd

  # Leemos el archivo Airdata
  df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Programacion /Semana 07 09142025/Airdata.csv")
  #imprimimos el nombre de las columnas y las primeras cinco lineas
  print(df.dtypes)
  print(df.head(3))

DateTime           object
Temperature       float64
Humidity            int64
Wind_Speed        float64
Wind_Direction    float64
NO2_Location_A    float64
NO2_Location_B    float64
NO2_Location_C    float64
dtype: object
        DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
0  1/1/2020 0:00     2.180529        87    1.484318        75.96376
1  1/1/2020 1:00     1.490529        89    2.741678       113.19859
2  1/1/2020 2:00     1.690529        85    3.563818       135.00000

   NO2_Location_A  NO2_Location_B  NO2_Location_C
0           39.23           52.88           62.37
1           38.30           44.95           52.53
2             NaN           48.40           54.80

In [34]:
#conversion de la columna DateTime
df['DateTime'] = pd.to_datetime(df['DateTime'])
print(df.dtypes)
print(df.head(3))

DateTime          datetime64[ns]
Temperature              float64
Humidity                   int64
Wind_Speed               float64
Wind_Direction           float64
NO2_Location_A           float64
NO2_Location_B           float64
NO2_Location_C           float64
dtype: object
             DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
0 2020-01-01 00:00:00     2.180529        87    1.484318        75.96376
1 2020-01-01 01:00:00     1.490529        89    2.741678       113.19859
2 2020-01-01 02:00:00     1.690529        85    3.563818       135.00000

   NO2_Location_A  NO2_Location_B  NO2_Location_C
0           39.23           52.88           62.37
1           38.30           44.95           52.53
2             NaN           48.40           54.80

##Ejercicio 02: Extraer componentes de fecha y tiempo

In [36]:
df = (df
 .assign(
     year = df['DateTime'].dt.year,
     month = df['DateTime'].dt.month,
     day = df['DateTime'].dt.day,
     hour = df['DateTime'].dt.hour,
    )
)

In [38]:
print(df.head(3))

             DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
0 2020-01-01 00:00:00     2.180529        87    1.484318        75.96376
1 2020-01-01 01:00:00     1.490529        89    2.741678       113.19859
2 2020-01-01 02:00:00     1.690529        85    3.563818       135.00000

   NO2_Location_A  NO2_Location_B  NO2_Location_C  month  day  hour  year
0           39.23           52.88           62.37      1    1     0  2020
1           38.30           44.95           52.53      1    1     1  2020
2             NaN           48.40           54.80      1    1     2  2020

##Ejercicio 03: Aritmética - Suma de Intervalos (timedelta)

In [40]:
# sumar 10 días, 7 horas y 15 minutos
df["fecha_modificada"] = df["DateTime"] + pd.Timedelta(days=10, hours=7, minutes=15)

print(df.head())

             DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
0 2020-01-01 00:00:00     2.180529        87    1.484318       75.963760
1 2020-01-01 01:00:00     1.490529        89    2.741678      113.198590
2 2020-01-01 02:00:00     1.690529        85    3.563818      135.000000
3 2020-01-01 03:00:00     1.430529        84    2.811690      129.805570
4 2020-01-01 04:00:00     0.840529        86    1.800000      126.869896

   NO2_Location_A  NO2_Location_B  NO2_Location_C  month  day  hour  year  \
0           39.23           52.88           62.37      1    1     0  2020
1           38.30           44.95           52.53      1    1     1  2020
2             NaN           48.40           54.80      1    1     2  2020
3           37.28           47.18           50.80      1    1     3  2020
4           29.97           41.48           54.43      1    1     4  2020

     fecha_modificada
0 2020-01-11 07:15:00
1 2020-01-11 08:15:00
2 2020-01-11 09:15:00
3 2020-01-11 10:15:00
4 2020-01-11 11:15:00

In [41]:
print(df[["DateTime", "fecha_modificada"]].head())

             DateTime    fecha_modificada
0 2020-01-01 00:00:00 2020-01-11 07:15:00
1 2020-01-01 01:00:00 2020-01-11 08:15:00
2 2020-01-01 02:00:00 2020-01-11 09:15:00
3 2020-01-01 03:00:00 2020-01-11 10:15:00
4 2020-01-01 04:00:00 2020-01-11 11:15:00

###Validacion de tipo de datos

In [42]:
print(df.dtypes)

DateTime            datetime64[ns]
Temperature                float64
Humidity                     int64
Wind_Speed                 float64
Wind_Direction             float64
NO2_Location_A             float64
NO2_Location_B             float64
NO2_Location_C             float64
month                        int32
day                          int32
hour                         int32
year                         int32
fecha_modificada    datetime64[ns]
dtype: object

##Ejercicio 04: Timestamp

In [28]:
# Convertir a timestamp Unix (en segundos)
df["UnixTimestamp"] = df["DateTime"].astype("int64") // 10**9  #Para llever a segundos

# Mostrar solo las primeras tres filas de ambas columnas
print(df[["DateTime", "UnixTimestamp"]].head(3))

             DateTime  UnixTimestamp
0 2020-01-01 00:00:00     1577836800
1 2020-01-01 01:00:00     1577840400
2 2020-01-01 02:00:00     1577844000

##Ejercicio 05: Filtrado de Fechas

In [45]:
# Filtra aquellas fechas que son mayores a 2020-11-01
filtered_df = df[df['DateTime'] > '2020-11-01']

# Imprime el resultado
print(filtered_df[['DateTime']].head())

                DateTime
7321 2020-11-01 01:00:00
7322 2020-11-01 02:00:00
7323 2020-11-01 03:00:00
7324 2020-11-01 04:00:00
7325 2020-11-01 05:00:00